body{
  color: white;
  background-color: black;
}

.Intro{
    text-align: center;
    font-family: 'CRYSTALRegular';
    font-weight: normal;
    font-style: normal;
    color: black;
 }


 table{ 
  border: 5px black;
   background-color: grey;
    margin-top: 50px;
    margin-bottom: 50px;

 }
  
 td{
    text-align: center;
    font-size:100px ;
    border: 5px solid white;
    height: 150px;
    width: 150px;
  }
  